label {
    font-weight: bold;
}

.myimg{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
}

.background{
    background-color: rgb(16, 205, 139);
}



/* Template 1 and Template 2 button styles */
#cv-template button,
#cv-template .container button {
    background-color: #608919;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px; /* Adjust margin for better visibility */
}

#cv-template button:hover,
#cv-template .container button:hover {
    background-color: #0056b3;
}

body {
    background-image: url('bg1.jpg');
    background-size: cover;
    background-position: center;
    color: black;
}

.container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

.btn-primary,
.btn-danger {
    color: #fff;
}

.btn-primary:hover,
.btn-danger:hover {
    opacity: 0.8;
}

#cv-template h1 {
    color: black;
}

#cv-form h1 {
    font-weight: bold;
    color: midnightblue; /* Add this line to change the color of the heading in the form */
}



/* Template 1 styles - Minimalistic Design */
#cv-template.template-1 {
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #ecf0f1;
    border-radius: 8px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#cv-template.template-1 h1 {
    color: black;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#cv-template.template-1 .card {
    background-color: #ffffff;
    color: #2c3e50;
    border: 1px solid #ecf0f1;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cv-template.template-1 .image-container {
    text-align: center;
    margin-top: 20px;
}

#cv-template.template-1 .image-container img {
    border-radius: 50%;
    border: 4px solid #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Template 2 styles - Dark Blue */
#cv-template.template-2 {
    background-color: rgb(22, 232, 229);
    color: black;
    border: 3px solid #4e6f90; /* 2px */
    border-radius: 15px; /* 12px */
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#cv-template.template-2 h1 {
    color: white;
    border-bottom: 2px solid #4e6f90;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#cv-template.template-2 .card {
    background-color: rgb(176, 225, 245);
    color: white;
    border: 2px solid #4e6f90;
    border-radius: 12px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cv-template.template-2 .image-container {
    text-align: center;
    margin-top: 20px;
}

#cv-template.template-2 .image-container img {
    border-radius: 50%;
    border: 4px solid #4e6f90;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer{
    margin-left: 43%;
}


